
<p-card header="DATA ANALYTICS FOR RESEARCH AND EDUCATION (DARE)" subheader="By Keith Anshilo L. Diaz and Maria Teresa R. Pulido" [style]="{width: '1000px'}" styleClass="p-card-shadow">
    <p-header>
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </p-header>

<p>&nbsp;The CHED-PCARI-DARE Program recognizes the importance of the human&rsquo;s increasing ability to collect and store large datasets based on human activities in the context of providing unique opportunities that answers various societal questions. With the collaborative proponents <strong><em>Mapua University</em></strong><em>, <strong>University of the Philippines &ndash; Diliman</strong> </em>and<em> <strong>University of California &ndash; Berkeley</strong></em>, the team proposes a capacity-building endeavor by creating a data analytics and allied platforms. At the end of the work, the aim is to have a working system, that research teams can expand and train others on the processes.</p>
<p>The program aims to propose a template for capacity building in the domain of data science and engineering, transportation studies through expanding the <strong>Traveler Routing, Assessment, and Control for Energy Savings (TRACES)</strong> platform to the Philippines.</p>
&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/img/img1.png" alt="image not loading">
&nbsp;&nbsp;&nbsp;&nbsp;

<p>&nbsp;This architecture will be tested on synthetic data for both the US and the Philippines, as well as actual data (static sensing infrastructure, GPS, CDR, etc.), based on the available data sources for the project both in the Philippines and the US.</p>
<p>In addition, the project aims to produce the following:</p>
<ul>
<li>Urban data inventory in the PH</li>
<li>Specification of customized traffic inference algorithms for Manila</li>
<li>Definition of systems requirement s for information exchange with public sector</li>
<li>Design of travel demand forecasting algorithms for Manila</li>
<li>Algorithms for computation of dynamic traffic assignment, user equilibrium</li>
<li>Pilot training on Transportation Decision Support Systems</li>
<li>Recommendations (policy) development based on algorithm performance</li>
<li>Program report and recommendation report (for future work)</li>
</ul>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DARE is a 2-year research program that started last November 1, 2017. The said program is split into three projects:</p>
<ol>
<li>the aspects of advanced next generation transportation modelling, traffic engineering, simulation, field measurements and calibration <strong>(PH project leader: Dr. Francis Aldrine Uy, Mapua University)</strong>;</li>
<li>data analytics algorithms and tools <strong>(PH project leader: Dr. May Lim, National Institute of Physics in University of the Philippines Diliman)</strong>; and</li>
<li>the public administration viewpoint of setting, measuring, and understanding performance indicator relevant to the Philippine setting that can be synthesized from the computational backends <strong>(PH project leader: Dr. Noriel Christopher Tiglao, National College of Public Administration and Governance in University of the Philippines Diliman)</strong>.</li>
</ol>
<p>Their counterparts in the United States are <strong>principal investigator Dr. Alexandre Bayen and co-principal investigator Dr. Alexei Pozdnukhov (both of University of California Berkeley).</strong></p>
<p>The Transportation Operations and Management Assessment System (TOMAS) Lab of Map&uacute;a University will work on DARE&rsquo;s Project 1, focusing on &ldquo;Technical development and system deployment&rdquo; of the TRACES platform.</p>

&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/img/img2.png" alt="image not loading">
&nbsp;&nbsp;&nbsp;&nbsp;
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
</p-card>
