

<div class="center">
    <p-card header="Login Account" [style]="{width: '320px'}"><br>
 
     <div class="p-field p-grid">
         <label for="firstname3" class="p-col-fixed" style="width:100px">Email</label>
         <div class="p-col">
             <input id="firstname3" type="text" pInputText> 
         </div>
     </div>
     <div class="p-field p-grid">
         <label for="lastname3" class="p-col-fixed" style="width:100px">Password</label>
         <div class="p-col">
             <input id="lastname3" type="text" pInputText> 
         </div>
     </div>
     <div class="p-field p-grid">
        <p-captcha siteKey="6LflG64ZAAAAAFSLvJW1uxxG7dBPq9tyxXYwUzEt" (onResponse)="resolved($event)"></p-captcha>
    </div>

    <div class="p-field p-grid">
        By clicking Login, you agree to our &nbsp;<a href="url">Terms</a>,<a href="url">Data Policy</a> &nbsp;and &nbsp;<a href="url">Cookies Policy</a>.
    </div>

    <div class="p-field p-grid">
        <button pButton type="button" label="Login"></button><br>
        <button pButton type="button" label="Cancel" class="ui-button-secondary"></button>
    </div>
 </p-card>
 </div>