<p-menubar [model]="items" [style]="{'padding':'1em'}" ></p-menubar>

<p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '100%'}" [autoPlay]="true"[transitionInterval]="10000" [circular]="true" > 

    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 50%; display: block;"/>
    </ng-template>

    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.thumbnailImageSrc" />
        </div>
    </ng-template>
</p-galleria>


