<p-menubar [model]="items" [style]="{'padding':'.70em'}" >
    
</p-menubar>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="p-grid">
    <div class="p-col-6">
      <br>
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select Area" optionLabel="name" [showClear]="true"></p-dropdown><br><br>

      <div class="center">
        <p-card header="Transportation Data">
            <p-table [columns]="cols" [value]="dataset?.data | keyvalue">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td [ngSwitch]="data.key" style="text-align:center">
                            <div *ngSwitchCase="'dim_links'">Links</div>
                            <div *ngSwitchCase="'dim_nodes'">Nodes</div>
                            <div *ngSwitchCase="'dim_sensors'">Sensors</div>
                            <div *ngSwitchCase="'dim_zones'">Zones</div>
                            <div *ngSwitchCase="'fct_sensorcount_perhour'">Sensor Counts / hr</div>
                            <div *ngSwitchCase="'fct_sensorcount_permonth'">Sensor Counts / month</div>
                            <div *ngSwitchCase="'fct_sensorcount_perweek'">Sensor Counts / week</div>
                            <div *ngSwitchCase="'fct_sensorcount_peryear'">Sensor Counts / year</div>
                            <div *ngSwitchDefault>{{data.key}}</div>
                        </td>

                        <td style="text-align:center"></td>
                        <td style="text-align:center">
                            <button pButton type="button" label="View" class="ui-button-rounded ui-button-info" (click)="showDialogForViewData(data.value)"></button>&nbsp;
                            <button pButton type="button" label="Request" class="ui-button-rounded ui-button-success" (click)="showConfirmRequestDialog(data.key)"></button>   
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
      </div>&nbsp;&nbsp;  
      
      <div class="center"  *ngIf="visible">
        
        <p-card header="My Requests">
    
            <p-table [value]="datarequest?.request">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Requested Data</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-request>
                    <tr>
                        
                        <td style="text-align:center">{{request.data}}</td>
                        <td style="text-align:center">{{request.status}}</td>
                        <td style="text-align:center">

                            <div *ngIf="request.status=='pending'; then thenPending else elseApproved"> 
                                This content is not shown
                            </div>
                             
                            <ng-template #thenPending>
                                <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-danger" (click) ="showCancelRequestDialog(request.request_id)"></button>
                            </ng-template>
                             
                            <ng-template #elseApproved>
                                <button pButton type="button" label="Download" class="ui-button-rounded ui-button-success" (click) = "downloadRequest(request.data)"></button>&nbsp;
                            </ng-template>

                               
                        </td>
                    </tr>
                </ng-template>
            </p-table>
     
        
        </p-card>
     </div>

    </div>
</div>

    <p-dialog header="Meta Data" [(visible)]="displayDataDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '50%'}">

        <p-table [columns]="fcols" [value]="factdataset | keyvalue">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let fcols of columns">
                            {{fcols.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-factdataset>
                    <tr>
                        <td style="text-align:center">{{factdataset.key}}</td>
                        <td style="text-align:center">{{factdataset.value}}</td>
                    </tr>
                </ng-template>
        </p-table>

    </p-dialog>

    <p-dialog header="Confirm Request" [(visible)]="displayConfirmRequest" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: 'auto'}">

        <div class="p-grid ui-fluid">
            <div class="p-col-4">
                <label for="filename">Requesting for <b>{{req}}</b></label>
            </div>
            <div class="p-col-8">
               
            </div>
    
            <div>
                <p> We will notify you by sending email for your request approval</p>
            </div>
    
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button pButton type="button" label="Confirm" class="ui-button-rounded ui-button-success" (click)="requestData(req)"></button>&nbsp;
            </div>
        </p-footer>
    

    </p-dialog>

    <p-dialog header="Cancel Request" [(visible)]="displayConfirmCancel" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: 'auto'}">

        <div class="p-grid ui-fluid">
            <div>
                <p>Are you sure you want to cancel your request?</p>
            </div>
    
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button pButton type="button" label="Confirm" class="ui-button-rounded ui-button-success" (click)="requestCancel(request_id)"></button>&nbsp;
            </div>
        </p-footer>
    

    </p-dialog>


