

<div class="center">
   <p-card header="Register New Account" [style]="{width: '350px'}"><br>

    <div class="p-field p-grid">
        <label for="firstname3" class="p-col-fixed" style="width:100px">Firstname*</label>
        <div class="p-col">
            <input id="firstname3" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">Lastname*</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="email3" class="p-col-fixed" style="width:100px">Email*</label>
        <div class="p-col">
            <input id="email3" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="organization3" class="p-col-fixed" style="width:100px">Organization*</label>
        <div class="p-col">
            <p-dropdown [options]="organization" [(ngModel)]="selectedOrg" placeholder="Please Choose Category" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="industry3" class="p-col-fixed" style="width:100px">Industry*</label>
        <div class="p-col">
            <p-dropdown [options]="industry" [(ngModel)]="selectedIndustry" placeholder="Please Choose Category" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="yourself3" class="p-col-fixed" style="width:100px">Yourself*</label>
        <div class="p-col">
            <p-dropdown [options]="yourself" [(ngModel)]="selectedYourself" placeholder="Please Choose Category" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <!-- <re-captcha (resolved)="resolved($event)" sitekey="6LflG64ZAAAAAFSLvJW1uxxG7dBPq9tyxXYwUzEt"></re-captcha> -->

    <div class="p-field p-grid">
        <p-captcha siteKey="6LflG64ZAAAAAFSLvJW1uxxG7dBPq9tyxXYwUzEt" (onResponse)="resolved($event)"></p-captcha>
    </div>

    <div class="p-field p-grid">
        By clicking Register, you agree to our &nbsp;<a href="url">Terms</a>,<a href="url">Data Policy</a> &nbsp;and &nbsp;<a href="url">Cookies Policy</a>.
    </div>
    

    <div class="p-field p-grid">
        <button pButton type="button" label="Register"></button>
        <button pButton type="button" label="Cancel" class="ui-button-secondary"></button>
    </div>

    
    
    
</p-card>
</div>